/*.site-header に以下のスタイルを適用する：
背景色：lightblue
文字色：white
padding：20px
.main-content に以下のスタイルを適用する：
背景色：white
padding：20px
.site-footer に以下のスタイルを適用する：
背景色：lightgray
文字色：gray
padding：10px
文字の中央寄せ（text-align: center;）*/

body{
    font-family: 'Josefin Sans', sans-serif;
}

.site-header {
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    object-position: center 30%;

}

.myname{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.main-content {
    background-color: white;
    padding: 20px;

}

ul {
    list-style: none;
    padding: 0;
}

.site-footer {
    background-color: lightgray;
    color: gray;
    padding: 10px;
    text-align: center;
    margin-top: 20px;

}