
body{
    font-family: 'Josefin Sans', sans-serif;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    object-position: center 30%;

}

.site-header {
    background-color: lightgray;
    /* color: white; */
    padding: 20px;
    text-align: center;
}



.myname{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.main-content {
    background-color: white;
    padding: 20px;

}

ul {
    list-style: none;
    padding: 0;
}

.site-footer {
    background-color: lightgray;
    /* color: gray; */
    padding: 10px;
    text-align: center;
    margin-top: 20px;

}

.theme-blue {
  background-color: #e0f0ff;
  color: #004080;           
}

.theme-green {
  background-color: #e6ffe6;
  color: #006633;              
}

.theme-pink {
  background-color: #ffe6f0;   
  color: #cc0066;              
}

/* ボタンの文字色はブラウザのデフォルトで設定されているので無理やり継承させる */
button {
  color: inherit;
}