body {
  font-size: 2.5rem;
  text-align: center;
}

label {
  display: block;
  margin-top: 8px;
}

input {
  display: block;
  margin: 4px auto;
}

button {
  display: block;
  margin: 12px auto;
}
